<h1>New Game</h1>
<% @letters.each do |letter| %>
<%= letter %>
<% end %>

<h2>What is the longer word you can find?</h2>

<form action="/score" method="post">
  <input type="text" name="guess" placeholder="Type it here!">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letras, @letters %>
</form>
